<html>
<head>
<link href="css/I-Am-CSS.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="http://use.edgefonts.net/source-sans-pro:n2:default.js" type="text/javascript"></script>
</head>
<body>
<!-- Main Container -->
<div class="container">
  <!-- Navigation -->
  <header>
    <a href="">
      <h4 class="logo">BBCourt</h4>
    </a>
  </header>
  <section class="about">
    <div class="column">
      <table>
        <tbody>
          <tr>
            <th scope="row">Facilities</th>
            <td>Tennis</td>
            <td><a href="">Edit</a></td>
          </tr>
          <tr>
            <th scope="row">Location</th>
            <td>Sport Hall 1</td>
            <td><a href="">Edit</a></td>
          </tr>
          <tr>
            <th scope="row"></th>
            <td>Indoor</td>
            <td><a href="">Edit</a></td>
          </tr>
          <tr>
            <th scope="row">Operating Hours</th>
            <td>7:30 am – 6.50 pm</td>
            <td><a href="">Edit</a></td>
          </tr>
          <tr>
            <th scope="row">Number of Courts</th>
            <td>16</td>
            <td><a href="">Edit</a></td>
          </tr>
          <tr>
            <th scope="row">Available Courts</th>
            <td>16</td>
            <td><a href="">Edit</a></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="column">
      <img src="images/86316574_168790367908228_6973616657667194880_o.jpg" alt="" class="profile">
    </div>
  </section>
  <div>
    <h2>Reservation Schedule</h2>
    <div>
      <form action="">
        <table border="1">
          <tbody>
          <tr>
            <th scope="col">Times</th>
            <th scope="col">Number of Reservations</th>
            <th scope="col">Number of Available</th>
            <th></th>
          </tr>
          <tr>
            <td>2022-11-11 08:00 AM</td>
            <td>10</td>
            <td>15</td>
            <td><a href="">Edit</a></td>
          </tr>
          <tr>
            <td>2022-11-11 08:00 AM</td>
            <td>11</td>
            <td>15</td>
            <td><a href="">Edit</a></td>
          </tr>
          </tbody>
        </table>
        <input type="date" id="" name="">
        <select name="" id="">
          <option value="6">6</option>
          <option value="7">7</option>
          <option value="8">8</option>
          <option value="9">9</option>
          <option value="10">10</option>
          <option value="11">11</option>
          <option value="12">12</option>
          <option value="13">13</option>
          <option value="14">14</option>
          <option value="15">15</option>
          <option value="16">16</option>
          <option value="17">17</option>
          <option value="18">18</option>
          <option value="19">19</option>
          <option value="20">20</option>
        </select>
        <select name="" id="">
          <option value="00">00</option>
          <option value="15">15</option>
          <option value="30">30</option>
          <option value="45">45</option>
        </select>
        <button>Add</button>
      </form>
      <br>
    </div>
  </div>
  <div class="copyright">&copy;2022- <strong>BBCourt</strong></div>
  </div>
</body>
</html>
