<!DOCTYPE html>
<html>
<head>
<title>B&B Registration</title>
<link href="css/style.css rel="stylesheet">
</head>
<body>

<div class = "center">
	<h1>Register</h1>
	<p>Please enter your details</p>
	<form method = "post">
	<div class = "txt_field">
		<input type = "text" required>
		<label>Name</label>
	</div>
	<div class = "txt_field">
		<input type = "password" required>
		<label>Password</label>
	</div>
	<div class = "txt_field">
		<input type = "text" required>
		<label>Email</label>
	</div>
	<div class = "txt_field">
		<input type = "text" required>
		<label>Confirm Email</label>
	</div>
	<div class = "txt_field">
		<input type = "text" required>
		<label>Phone number</label>
	</div>
		<input type = "submit" value = "Register new account">
	</form>
</div>

</body>
</html>
